<div class="container-fluid navbar">
  <div class="row">
    <div class="col-6">
      <a class="navbar-brand" [routerLink]="['/appManger']">AppManger</a>
    </div>
    <div class="col-6">
      <a style="margin-left: 5px" class="navbar-brand" [routerLink]="['/users']"
        >Users</a
      >
    </div>
    <div class="col-6">
      <a
        style="margin-left: 5px"
        class="navbar-brand"
        [routerLink]="['/categories']"
        >Categories</a
      >
    </div>
  </div>
</div>
