<div class="navbar-container container-fluid">
  <!-- Toggle button -->
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-lg-6 col-sm-9 p-0 ">
      <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-row w-100 order-2 ms-sm-0 ms-3">
          <input class="w-100" placeholder="Search Something..." />
          <button class="p-0"><i class="bi bi-search"></i></button>
        </div>
        <i
          (click)="toggleSidebar()"
          style="font-size: 1.5rem"
          class="d-md-none d-block  bi bi-list order-1"
        ></i>
      </div>
    </div>
    <div class="col-lg-2 col-sm-3 d-sm-block d-none">
      <div class="d-flex flex-row justify-content-around align-items-center">
        <div style="position: relative" class="notification">
          <i class="navbar-icon bi bi-bell-fill"></i>
          <span
            style="position: absolute; top: 0; left: 10px; font-size: 0.6rem"
            class="badge rounded-pill badge-notification bg-danger"
            >1</span
          >
        </div>

        <i class="navbar-icon bi bi-envelope-fill"></i>

        <img
          src="assets/images/profile.jpeg"
          class="profile"
          alt="Avatar"
          loading="lazy"
        />
      </div>

      <!-- Avatar -->
    </div>
  </div>
</div>
