<nav [@inOutAnimation] id="sidebarMenu" class="sidebar h-100 shadow">
  <div  class="list-group list-group-flush mx-3 d-flex justify-content-center">
    <!-- Collapse 1 -->
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-sm-6">
        <h5 [routerLink]="['/']" class="dash-logo">لوحة التحكم</h5>
      </div>
      <div class="dashboard-icon col-sm-6 d-flex justify-content-end">
        <i (click)="dashToggle()" class="list-trigger bi bi-list"></i>
      </div>
    </div>
    <div
      class="categories-row row mt-5 d-flex justify-content-center"
      style="padding: 0px 15px"
    >
      <div class="category">
        <h6 class="category-title">الميزات الأساسية</h6>
        <div class="category-items">
          <div id="analytics" class="category-item">
            <ul>
              <li [routerLink]="['/appointments']">
                <div class="d-flex flex-row">
                  <h6 class="item-title">الحجوزات</h6>
                  <i class="item-icon bi bi-clipboard-data"></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="category-item">
            <ul>
              <li [routerLink]="['/settings']">
                <div class="d-flex flex-row">
                  <h6 class="item-title">الأعدادات</h6>
                  <i class="item-icon bi bi-bank"></i>
                </div>
              </li>
            </ul>
          </div>
         
          <!-- <div
            style="position: relative;"
            id="contentMangement"
            class="category-item p-0"
          >
            <ul>
              <li>
                <div
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  class="d-flex flex-row justify-content-between align-items-center"
                  (click)="itemToggle('contentMangement')"
                >
                  <div class="d-flex flex-row">
                    <i class="item-icon bi bi-camera-reels"></i>
                    <h6 class="item-title">Content Mangement</h6>
                  </div>
                  <h6 class="justify-content-end">
                    <i class="bi bi-caret-right"></i>
                  </h6>
                </div>
              </li>
            </ul>

            <div 
              class="col-12 child-items-list  p-0"
              id="courses"
            >
              <ul>
                <li class="child-item" [routerLink]="['/courses/my-courses']">
                  <div class="d-flex flex-row align-items-center">
                    <div
                      class="child-item-dot bg-white"
                      style="
                        position: absolute;
                        left: 2px;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      "
                    ></div>
                    <h6 class="child-item-title">Courses</h6>
                  </div>
                </li>
                <li class="child-item" [routerLink]="['/courses/new-course']">
                  <div class="d-flex flex-row align-items-center">
                    <div
                      class="child-item-dot bg-white"
                      style="
                        position: absolute;
                        left: 2px;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      "
                    ></div>
                    <h6 class="child-item-title">Add Course</h6>
                  </div>
                </li>
              </ul>
            </div>
            <div class="category-item-line"></div>
          </div> -->
          <!-- <div
            style="position: relative"
            id="communicationTools"
            class="category-item p-0"
          >
            <ul>
              <li>
                <div
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  class="d-flex flex-row justify-content-between align-items-center"
                  (click)="itemToggle('communicationTools')"
                >
                  <div class="d-flex flex-row">
                    <i class="item-icon bi bi-camera-reels"></i>
                    <h6 class="item-title">Communicate Students</h6>
                  </div>
                  <h6 class="justify-content-end">
                    <i class="bi bi-caret-right"></i>
                  </h6>
                </div>
              </li>
            </ul>
            <div
              class="col-12  child-items-list p-0"
              id="communicationTools-childs"
            >
              <ul>
                <li class="child-item" [routerLink]="['/courses/my-courses']">
                  <div class="d-flex flex-row align-items-center">
                    <div
                      class="child-item-dot bg-white"
                      style="
                        position: absolute;
                        left: 2px;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      "
                    ></div>
                    <h6 class="child-item-title">Email</h6>
                  </div>
                </li>
                <li class="child-item" [routerLink]="['/courses/new-course']">
                  <div class="d-flex flex-row align-items-center">
                    <div
                      class="child-item-dot bg-white"
                      style="
                        position: absolute;
                        left: 2px;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      "
                    ></div>
                    <h6 class="child-item-title">Live Chat</h6>
                  </div>
                </li>
                <li class="child-item" [routerLink]="['/courses/new-course']">
                  <div class="d-flex flex-row align-items-center">
                    <div
                      class="child-item-dot bg-white"
                      style="
                        position: absolute;
                        left: 2px;
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      "
                    ></div>
                    <h6 class="child-item-title">Feedback</h6>
                  </div>
                </li>
              </ul>
            </div>
            <div class="category-item-line"></div>
          </div> -->
        </div>
      </div>
     
    </div>
  </div>
</nav>
