.name {
  margin-top: 130px;
}
.imagebtndiv {
  margin-top: 3em;
}
span {
  font-weight: 300;
}

@media (max-width: 576px) {
  .followers {
    margin-top: 5em;
  }
}
i {
  margin-right: 5px;
}
.bi-gender-male {
  color: blue;
}
h4 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}
@media (max-width: 1200px) {
  .verified {
    margin-top: 1em;
  }
}
@media(max-width:767px){
    .wallet {
        margin-top: 10px !important;
      }
}
@media (max-width: 400px) {
  .img-thumbnail {
    width: 100px !important;
    margin-top: 3em !important;
  }
  .imagebtndiv {
    margin-top: 0em !important;
  }
  .name {
    margin-top: 80px !important;
  }
  .cover {
    height: 150px !important;
  }
}
@media(max-width:350px){
  .posts-label{
    font-size:1.1em;
  }
}
