@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.card__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.line-chart {
  transition: 1s;
  color:white !important;
}
.donut-chart{
  transition: 1s;
}
._card{
  background-color:#1b143d ;
}
*{
  color:white;
}
@media(min-width:1270px){
  ._card{
    height:90%;
  }
}