@import "global";
.banner {
  width: 20%;
}
h3 {
  color: black;
}
.con {
  background-color: $primary;
}
.label {
  color: black !important;
}
@media (max-width: 600px) {
  .banner {
    width: 10em !important;
  }
}
@media (max-width: 450px) {
  label {
    font-size: 0.9em !important;
  }
}
