<div class="mb-5 text-body">
  <h4
    (click)="[(showAddionalData = !showAddionalData)]"
    style="font-weight: bold; cursor: pointer"
  >
    Addional Data

    <i style="font-size: 0.7em" class="bi bi-caret-down-fill"></i>
  </h4>
  <div class="bg-body-tertiary p-3 container-fluid mt-3 p-sm-5 p-0">
    <div [@inOutAnimation] *ngIf="showAddionalData" class="row d-flex justify-content-center" >
      <h5 class="header mb-sm-5 mb-3 d-flex justify-content-sm-start justify-content-center">User Roles:</h5>
      <div class="col-xl-3 col-lg-4 col-sm-6  d-flex justify-content-center ">
        
            <h5  class="text-center">
              Role:
              <span style="font-weight: 400;text-decoration: underline;">{{
                (userServ.userProfile | async).userRole.name
              }}</span>
            </h5>
         
      </div>
      <div style="border-left: 1px solid black;margin-bottom:5em;" class="col-xl-3 active col-lg-4 col-sm-6  d-flex justify-content-center ">
        
          <h5  class="text-center">
            <i
                class="bi"
                [ngClass]="{
                  'bi-check-lg': (userServ.userProfile | async).userRole
                    .active,
                  'bi-x-lg': !(userServ.userProfile | async).userRole
                  .active
                }"
              ></i>active
          </h5>
        
    </div>
      <hr/>
      <h5 class="header mb-sm-5 mb-3 d-flex justify-content-sm-start justify-content-center">User Status :</h5>
      <div
        style="border-right: 1px solid grey"
        class="col-12 col-lg-4 col-md-4 col-sm-6 d-flex align-items-center justify-content-center"
      >
        <h6>
          <i class="bi bi-envelope-fill"></i>
          {{ (userServ.userProfile | async).user.email }}
        </h6>
      </div>

      <div
        style="border-right: 1px solid grey"
        class="col-12 col-lg-4  col-md-4 col-sm-6 d-flex align-items-center justify-content-center"
      >
        <h6>
          <i
            class="bi"
            [ngClass]="{
              'bi-gender-male':
                (userServ.userProfile | async).user.gender === 'male',
              'bi-gender-female':
                (userServ.userProfile | async).user.gender === 'female'
            }"
          ></i>
          {{ (userServ.userProfile | async).user.gender }}
        </h6>
      </div>
      <div
        class="verified col-12 col-lg-4 col-md-4  d-flex align-items-center justify-content-center"
      >
        <div class="row">
          <div class="col-12">
            <h6 class="text-center">
              <i
                class="bi"
                [ngClass]="{
                  'bi-check-lg': (userServ.userProfile | async).user
                    .isEmailVerified,
                  'bi-x-lg': !(userServ.userProfile | async).user
                    .isEmailVerified
                }"
              ></i>
              Email Verified
            </h6>
          </div>
          <div class="col-12">
            <h6 class="text-center">
              <i
                class="bi"
                [ngClass]="{
                  'bi-check-lg': (userServ.userProfile | async).user
                    .isPhoneVerified,
                  'bi-x-lg': !(userServ.userProfile | async).user
                    .isPhoneVerified
                }"
              ></i>
              Phone Verified
            </h6>
          </div>
          <div class="col-12">
            <h6 class="text-center">
              <i
                class="bi"
                [ngClass]="{
                  'bi-unlock-fill': !(userServ.userProfile | async).user
                    .isLocked,
                  'bi-lock-fill': (userServ.userProfile | async).user.isLocked
                }"
              ></i>
              {{
                !(userServ.userProfile | async).user.isLocked
                  ? "Unlocked"
                  : "Locked"
              }}
            </h6>
          </div>
        </div>
      </div>
      <div style="margin-bottom:4em;"></div>
      <hr/>
      <h5 class="header mb-sm-5 mb-3 d-flex justify-content-sm-start justify-content-center">User Analytics :</h5>
       <div class="col-12 col-lg-4 col-md-3 d-flex justify-content-center" >
          <h6 style="font-weight: 500" class="text-center">
            Subscribed Competitions:
            <span style="text-decoration: underline; font-weight: 300">{{
              (userServ.userProfile | async).user.userAnalytics.subscribedCompetitions.length
            }}</span >
          </h6>
        </div>
        <div class="col-12 col-lg-4 col-md-3 d-flex justify-content-center" style="border-left: 1px solid grey;">
          <h6 style="font-weight: 500" class="text-center">
            Won Competitions:
            <span style="text-decoration: underline; font-weight: 300">{{
              (userServ.userProfile | async).user.userAnalytics.wonCompetitions.length
            }}</span >
          </h6>
        </div>
        <div class="col-12 col-lg-4 col-md-3 d-flex justify-content-center" style="border-left: 1px solid grey;">
          <h6 style="font-weight: 500" class="text-center">
            Won Wheels:
            <span style="text-decoration: underline; font-weight: 300">{{
              (userServ.userProfile | async).user.userAnalytics.wonWheels
            }}</span >
          </h6>
        </div>
        <div style="margin-bottom:4em;"></div>
        <hr/>
        <h5 class="header mb-sm-5 mb-3 d-flex justify-content-sm-start justify-content-center">User Wallets :</h5>
        <div class="col-12 col-xl-3 col-md-4 col-sm-6 d-flex justify-content-center" >
          <h6 class="text-center">
            <i class="bi bi-wallet-fill"></i>Balance:
            <span>{{
              (userServ.userProfile | async).user.wallet.balance
            }}</span>
          </h6>
         </div>
         <div class="col-12 col-xl-3 col-md-4 col-sm-6  d-flex justify-content-center" style="border-left: 1px solid grey;">
          <h6 class="text-center">
            <i class="bi bi-wallet-fill"></i>Normal Wallet:
            <span>{{
              (userServ.userProfile | async).user.wallet.realAmount
            }}</span>
          </h6>
         </div>
         <div class="col-12 col-xl-3 col-md-4 col-sm-6  d-flex justify-content-center" style="border-left: 1px solid grey;">
          <h6 class="text-center">
            <i class="bi bi-wallet-fill"></i>Refund Storage:
            <span>
              {{
                (userServ.userProfile | async).user.wallet
                  .refund_storage
              }}</span
            >
          </h6>
         </div>
         <div class="col-12 col-xl-3 col-md-4 col-sm-6  d-flex justify-content-center" style="border-left: 1px solid grey;">
          <h6 class="text-center">
            <i class="bi bi-wallet-fill"></i>Refund Storage:
            <span>
              {{
                (userServ.userProfile | async).user.wallet
                  .refund_storage
              }}</span
            >
          </h6>
         </div>
    </div>
  </div>
</div>
