@import "global";
.banner {
  width: 30%;
}
h3,
.form-group {
  position: relative;
  .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
  }
  a {
    color: lighten(black, 50%);
  }
}
@media (max-width: 600px) {
  .banner {
    width: 10em !important;
  }
}
@media (max-width: 450px) {
  label {
    font-size: 0.9em !important;
  }
}
