@import "global";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/*start--table component*/
.table {
  overflow-y: scroll;
}
//elements
.table__icon {
  width: 50px;
}
.table__status-box {
  text-align: center;
  font-size: 0.9rem;
  color: white;
  width: 100px;
}
.table--transparent .table__header,
.table--transparent .table__data {
  background-color: transparent;
  color: white;
  padding: 15px;
}
//modifiers
.table__data--link {
  color: $tertiary !important;
  cursor: pointer;
}
.table__status-box--success {
  background-color: limegreen;
}
.table__status-box--pending {
  background-color: yellow;
}
.table__status-box--failed {
  background-color: red;
}
/*table component--end*/
.title {
  font-family: "Outfit", sans-serif;
  position: absolute;
  top: -100%;
}
