<div class="modal-header">
  <h4 class="modal-title">Create SubCategory</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">NameEn</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('nameEn')?.invalid &&
                  (subCategoryForm.get('nameEn')?.dirty ||
                    subCategoryForm.get('nameEn')?.touched)
                    ? 'red'
                    : ''
              }"
              type="text"
              class="form-control"
              formControlName="nameEn"
            />
            <div
              *ngIf="
                subCategoryForm.get('nameEn')?.invalid &&
                (subCategoryForm.get('nameEn')?.dirty ||
                  subCategoryForm.get('nameEn')?.touched)
              "
              class="text-danger"
            >
              NameEn is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">NameAr</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('nameAr')?.invalid &&
                  (subCategoryForm.get('nameAr')?.dirty ||
                    subCategoryForm.get('nameAr')?.touched)
                    ? 'red'
                    : ''
              }"
              type="text"
              class="form-control"
              formControlName="nameAr"
            />
            <div
              *ngIf="
                subCategoryForm.get('nameAr')?.invalid &&
                (subCategoryForm.get('nameAr')?.dirty ||
                  subCategoryForm.get('nameAr')?.touched)
              "
              class="text-danger"
            >
              NameAr is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">NameCode</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('nameCode')?.invalid &&
                  (subCategoryForm.get('nameCode')?.dirty ||
                    subCategoryForm.get('nameCode')?.touched)
                    ? 'red'
                    : ''
              }"
              type="text"
              class="form-control"
              formControlName="nameCode"
            />
          </div>
          <div
            *ngIf="
              subCategoryForm.get('nameCode')?.invalid &&
              (subCategoryForm.get('nameCode')?.dirty ||
                subCategoryForm.get('nameCode')?.touched)
            "
            class="text-danger"
          >
            NameCode is required.
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Index</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('index')?.invalid &&
                  (subCategoryForm.get('index')?.dirty ||
                    subCategoryForm.get('index')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="index"
            />
            <div
              *ngIf="
                subCategoryForm.get('index')?.invalid &&
                (subCategoryForm.get('index')?.dirty ||
                  subCategoryForm.get('index')?.touched)
              "
              class="text-danger"
            >
              Index is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Daily Price</label>
            <input
            [ngStyle]="{
              'border-color':
                subCategoryForm.get('daily_price')?.invalid &&
                (subCategoryForm.get('daily_price')?.dirty ||
                  subCategoryForm.get('daily_price')?.touched)
                  ? 'red'
                  : ''
            }"
              type="number"
              class="form-control"
              formControlName="daily_price"
            />
            <div
              *ngIf="
                subCategoryForm.get('daily_price')?.invalid &&
                (subCategoryForm.get('daily_price')?.dirty ||
                  subCategoryForm.get('daily_price')?.touched)
              "
            class="text-danger"
          >
            Daily Price is required.
          </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Portion</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('portion')?.invalid &&
                  (subCategoryForm.get('portion')?.dirty ||
                    subCategoryForm.get('portion')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="portion"
            />
            <div
              *ngIf="
                subCategoryForm.get('portion')?.invalid &&
                (subCategoryForm.get('portion')?.dirty ||
                  subCategoryForm.get('portion')?.touched)
              "
              class="text-danger"
            >
              Portion is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Provider Portion</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('provider_portion')?.invalid &&
                  (subCategoryForm.get('provider_portion')?.dirty ||
                    subCategoryForm.get('provider_portion')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="provider_portion"
            />
            <div
              *ngIf="
                subCategoryForm.get('provider_portion')?.invalid &&
                (subCategoryForm.get('provider_portion')?.dirty ||
                  subCategoryForm.get('provider_portion')?.touched)
              "
              class="text-danger"
            >
              Provider Portion is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Payment Factor</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('payment_factor')?.invalid &&
                  (subCategoryForm.get('payment_factor')?.dirty ||
                    subCategoryForm.get('payment_factor')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="payment_factor"
            />
            <div
              *ngIf="
                subCategoryForm.get('payment_factor')?.invalid &&
                (subCategoryForm.get('payment_factor')?.dirty ||
                  subCategoryForm.get('payment_factor')?.touched)
              "
              class="text-danger"
            >
              Payment Factor is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Gross Money</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('gross_money')?.invalid &&
                  (subCategoryForm.get('gross_money')?.dirty ||
                    subCategoryForm.get('gross_money')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="gross_money"
            />
            <div
              *ngIf="
                subCategoryForm.get('gross_money')?.invalid &&
                (subCategoryForm.get('gross_money')?.dirty ||
                  subCategoryForm.get('gross_money')?.touched)
              "
              class="text-danger"
            >
              Gross Money is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">Over Head Factor</label>
            <input
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('over_head_factor')?.invalid &&
                  (subCategoryForm.get('over_head_factor')?.dirty ||
                    subCategoryForm.get('over_head_factor')?.touched)
                    ? 'red'
                    : ''
              }"
              type="number"
              class="form-control"
              formControlName="over_head_factor"
            />
            <div
              *ngIf="
                subCategoryForm.get('over_head_factor')?.invalid &&
                (subCategoryForm.get('over_head_factor')?.dirty ||
                  subCategoryForm.get('over_head_factor')?.touched)
              "
              class="text-danger"
            >
              Over Head Factor is required.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label
             class="label" for="nameEn">Is Hidden</label>

            <mat-checkbox formControlName="is_hidden"></mat-checkbox>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-3">
            <label class="label" for="nameEn">EnableChatAndCallButton</label>
            <select
              [ngStyle]="{
                'border-color':
                  subCategoryForm.get('enableChatAndCallButton')?.invalid &&
                  (subCategoryForm.get('enableChatAndCallButton')?.dirty ||
                    subCategoryForm.get('enableChatAndCallButton')?.touched)
                    ? 'red'
                    : ''
              }"
              class="form-select"
              id="options"
              formControlName="enableChatAndCallButton"
            >
              @for(option of enableChatAndCallButton; track option){
              <option [value]="option">
                {{ option }}
              </option>
              }
            </select>
            <div
              *ngIf="
                subCategoryForm.get('enableChatAndCallButton')?.invalid &&
                (subCategoryForm.get('enableChatAndCallButton')?.dirty ||
                  subCategoryForm.get('enableChatAndCallButton')?.touched)
              "
              class="text-danger"
            >
              EnableChatAndCallButton is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3 mb-3">
          <submit-button>Submit</submit-button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </form>
</div>
