

  <div class="row">
    <div *ngIf="sortKeys.length" class="row bg-dark m-0 mb-3 d-flex justify-content-center align-items-center ">
       <div class="col-8">
        <search 
        class="mt-5"
        [items]="items"
        [keys]="keys"
        (filteredItems)="onFilter($event)"
      ></search>
       </div>
       <div class="col-4 ">
        <select
        (change)="onSortSelect($event)"
        style="width: 1em"
        class="form-select d-flex justify-content-center"
        aria-label="Default select example"
      >
        @for(sortkey of sortKeys; track sortkey; let i = $index) {
        <option [value]="items[sortkey]">{{ sortkey | beauty }}</option>
        }
      </select>
       </div>
    </div>
    <div class="col-12 d-flex justify-content-center mb-5">
        <search 
        class="mt-5 w-100"
        [items]="items"
        [keys]="keys"
        (filteredItems)="onFilter($event)"
      ></search>
    </div>
  <div style="max-width: 60em !important;" class="container">
    <h2  class="header-fade ">Results:{{itemsLength}}</h2>
    <div style="border:1px solid gainsboro;max-height:50em;;overflow-y:scroll">
      <ng-content></ng-content>
    </div>
  </div>
  </div> 

