<div style="cursor: pointer" class="col-12 shadow">
  <div class="row d-flex justify-content-xl-left justify-content-center ">
     
     <div class="row d-flex justify-content-center align-items-center flex-row row-cols-sm-4 row-cols-2">
        <img style="width:80px !important;" class="proflePic" src="assets/images/profile.jpeg" />
        <h6 class="text-center"><span style="font-weight: bold;">Balance:</span>:0</h6>
        <h6 class="text-center"><span style="font-weight: bold;">Wallet:</span>0</h6>

        <h6 class="text-center"><span style="font-weight: bold;">Provider:</span>0</h6>
        <h6 class="text-center"><span style="font-weight: bold;">Refund:</span>0</h6>
        <h6 class="text-center"><span style="font-weight: bold;">Clicks:</span>0</h6>
        <h6 class="text-center"><span style="font-weight: bold;">Uni Ref:</span>0</h6>
        <h6 class="text-center"><span style="font-weight: bold;">Refs:</span>0</h6>
     </div>
     <div class="col-12 d-flex justify-content-center mb-3 ">
        <main-button  class="d-flex justify-content-center" style="font-size:0.4em;height:30px">Edit Wallets</main-button>
      </div>
      <div class="col-6 d-flex justify-content-center mb-3 ">
        <main-button  class="d-flex justify-content-center" style="font-size:0.4em;height:30px">Notifiy User</main-button>
      </div>
      <div class="col-6 d-flex justify-content-center ">
        <main-button  class="d-flex justify-content-center" style="font-size:0.4em;height:30px">Notifiy All</main-button>
      </div>
   
  </div>
</div>
