$primary: #140f2e;
$secondary: #a400aa;
$tertiary: #03e3fc;
.text--gradient-transparent {
  background: -webkit-linear-gradient($secondary, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
