<feature-title>Users Profiles</feature-title>
<div
  *ngFor="let user of service.UsersProfiles | async"
  style="cursor: pointer"
  class="col-12 shadow"
>
  <div class="row d-flex justify-content-xl-left justify-content-center">
    <div
      class="row d-flex justify-content-center align-items-center flex-row row-cols-sm-4 row-cols-2"
    >
      <img
        style="width: 80px !important"
        class="proflePic"
        src="assets/images/profile.jpeg"
      />
      <h6 class="p-0 text-center">
        <span style="font-weight: bold">name:</span>{{ user.firstName }}
        {{ user.lastName }}
      </h6>
      <h6 class="text-center">
        <span style="font-weight: bold">email:</span>{{ user.email }}
      </h6>
      <h6>.</h6>
      <h6 class="text-center">
        <span style="font-weight: bold">phone:</span>{{ user.phone }}
      </h6>
      <h6>.</h6>

      <h6 class="text-center">
        <span style="font-weight: bold">createdAt:</span>
      </h6>
      <h6 class="text-center">
        <span style="font-weight: bold">isLocked:</span>{{ user.isLocked }}
      </h6>
    </div>
    <div class="col-6 d-flex justify-content-center mb-3">
      <main-button
        class="d-flex justify-content-center"
        style="font-size: 0.4em; height: 30px"
        >Block</main-button
      >
    </div>
    <div class="col-6 d-flex justify-content-center mb-3">
      <main-button
        class="d-flex justify-content-center"
        style="font-size: 0.4em; height: 30px"
        >Delete</main-button
      >
    </div>
  </div>
</div>
