<form *ngIf="entries" #myform="ngForm" (ngSubmit)="onFormSubmit(myform)">
  <div class="container-fluid app-container bg-white shadow">
    <div
      class="row row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 d-flex justify-content-center"
    >
      @for (item of entries; track item; let i = $index) {
      @if(itemType(item[1])!="boolean"){

      <div class="col">
        <div class="row">
          <label class="label" for="name">{{ item[0] | beauty }}:</label>
        </div>
        @if(itemType(item[1])=="number"){
        <input
          type="number"
          id="name"
          name="{{ item[0] }}"
          ngModel
          required
          [(ngModel)]="item[1]"
        />
        } @else{
        <input
          type="text"
          id="name"
          name="{{ item[0] }}"
          ngModel
          required
          [(ngModel)]="item[1]"
        />
        }
      </div>
      } } @for (item of entries; track item; let i = $index) {
      @if(itemType(item[1])=="boolean"){
      <div class="col">
        <div class="d-flex flex-row p-3 align-items-center">
          <label for="item[0]">{{ item[0] | beauty }}</label>
          <mat-checkbox
            name="isHidden"
            [checked]="item[1]"
            (change)="checkbox(item[0], $event)"
          ></mat-checkbox>
        </div>
      </div>
      } }
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <submit-button></submit-button>
      </div>
    </div>
  </div>
</form>
