<div class="container-fluid">
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="cardd col-xl-3 col-sm-6 col-12 ">
      <div class="card__background">
        <div class="cardd__data" id="spark1"></div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="cardd col-xl-3 col-sm-6 col-12 mt-sm-0 mt-4 ">
      <div class="card__background">
        <div class="cardd__data" id="spark2"></div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="cardd col-xl-3 col-sm-6 col-12 mt-xl-0 mt-4 ">
      <div class="card__background">
        <div class="cardd__data" id="spark3"></div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="cardd col-xl-3 col-sm-6 col-12 mt-xl-0 mt-4">
      <div class="card__background">
        <div class="cardd__data" id="spark4"></div>
      </div>
    </div>
  </div>
</div>
