* {
  color: white;
}
.card__data {
  margin: 3px;
  transition: 1s;
}
.card__background{
  padding-top: 1rem;
  background-color:#1a133b ;
}
.apexcharts-yaxis-title {
  color: white !important;
}

/*Resposnive*/
