<header>
  <dashboard-sidebar></dashboard-sidebar>
  <dashboard-navbar></dashboard-navbar>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<div class="dashcontainer container-fluid">
  <div class="row mainrow d-flex justify-content-center">
    <div class="col-lg-9 col-md-11 col-12 mb-5 justify-content-center">
      <div class="d-flex flex-sm-row flex-column align-items-center">
        <h1 class="dash-header header">
          <span class="secondary">49</span>Dashboard
        </h1>
        <app-navigator class="app-navigator"></app-navigator>
      </div>
    </div>
    <div class="col-lg-9 col-md-11 col-12" style="margin-top: 5em">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
