
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.dashboard__title{
     font-size: clamp(1.5rem,3vw,2rem);
     color:rgb(226, 226, 226);
}
.dashboard__subheading{
    font-size: clamp(0.8rem,1.5vw,1rem);
    color:rgb(202, 202, 202);
}
.balance{
    font-size:clamp(1.8rem,3vw,2.5rem);
    font-family: "Oswald", sans-serif;
    color:white;
    letter-spacing: 0.3rem;
}
.balance__decimal{
    font-size:clamp(1.5rem,3vw,2.2rem);
    opacitY:0.9;
}
.dark-container{
    color:white;
}
.information{
    font-size: clamp(0.8rem,1.5vw,1rem);
    color:rgb(202, 202, 202);
}
.information__money{
    color:limegreen;
   letter-spacing: 0.1rem;
   padding:0px 5px;
}
.row:not(.row:first-child){
    margin-top:6rem;
}
.row:first-child{
    margin-top:2rem;
}