<div class="container-fluid dashboard dashboard--dark">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="dashboard__balance-card col-sm-6 col-12">
      <div class="d-flex flex-column">
        <h1 class="balance-card__title">Current Balance</h1>
        <div class="d-flex flex-row align-items-center">
          <h2  class="balance-card__money">
            $1,089.254<span class="balance-card__decimal">,24</span>
          </h2>
          <i class="balance-card__icon bi bi-arrow-up "></i>
        </div>

        <p class="balance-card__information text-start">
          Last Transaction You Have Earned
          <span class="information__money"
            >+ 4</span
          >
          on 44
        </p>
      </div>
    </div>
    <div class="d-sm-flex d-none col-sm-6 col-12 justify-content-end">
      <div class="dashboard__orders-button">
        <button
          class="button"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="d-flex flex-row justify-content-between">
            <i class="button__icon bi bi-box-seam"></i>
            <span class="button__title">Orders</span>
          </div>
        </button>
      </div>
    </div>
  </div>
 
</div>
