@import "global";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
//global styles

/*typograpghy*/
.text--gradient-transparent {
  background: -webkit-linear-gradient($primary, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/**/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
