@import "global";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #140f2e;
}
//global styles

/*typograpghy*/
.text--gradient-transparent {
  background: -webkit-linear-gradient($primary, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/**/
