
    <div class="row">
      <div  class="col-12 input-group d-flex justify-content-center">
        <input
          style="width: 60%"
          type="text"
          #inp
          class="form-control d-flex justify-content-center"
          (input)="search(inp.value)"
        />
        <select
          (change)="onSelect($event)"
          style="width: 1em"
          class="form-select d-flex justify-content-center"
          aria-label="Default select example"
        >
          @for(key of keys; track key; let i = $index) {
          <option [value]="key">{{ key | beauty }}</option>
          }
        </select>
      </div>
    </div>
  

